$s: 490px;
$m: 780px;
$l: 1200px;
$xl: 1500px;

$primary: #92ADE8;
$primaryPale: #8EE5F5;
$primaryDark: #233969;

$secondary: #9C8143;

$grey: #575958;
$lightGrey: #DCE0DD;

$black: #090909;
$white: #ffffff;

$spacing: 1rem;

@mixin flex() {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

html, body {
  padding: 0;
  margin: 0;

  box-sizing: border-box;

  font-size: 15px;
  font-family: 'Saira Semi Condensed', sans-serif;

}

*, *:before, *:after {
  position: relative;
  box-sizing: inherit;
}

//icons
.material-icons {
  @include flex();
  align-items: center;
}

.icon {
  width: 1.3rem;
  height: 1.3rem;
}

//hide elements
.hide {
  display: none !important;
}

//general
*:focus {
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

h2 {
  font-size: 1.6rem;
  font-weight: normal;
}

h3, h4, h5, h6 {
  font-size: 1.1rem;
  font-weight: normal;
}

p {
  padding: 0;
  margin: $spacing;
}

.text-black {
  color: $black !important;
}

.text-white {
  color: $white !important;
}

.text-primary {
  color: $primary !important;
}

.text-secondary {
  color: $secondary !important;
}

//PAGE HEADER
header.page-header {
  background-color: $primary;

  box-shadow: 0 -9px 12px 10px $black;

  font-family: 'Cantata One', serif;

  .page-title {

  }

  .links {

  }
}

//LAYOUT
main {
  margin-top: $spacing;
}

section {

}

.container {
  @include flex();
  align-items: center;

  margin: 0 auto;
  width: 95%;

  &.space-between {
    justify-content: space-between;
  }

  @media screen and (min-width: $s) {
    width: 90%;
  }

  @media screen and (min-width: $m) {
    width: 85%;
  }

  @media screen and (min-width: $l) {
    width: 80%;
  }

  @media screen and (min-width: $xl) {
    width: 75%;
  }
}

.layout-row {
  @include flex();
  width: 100%;
  padding: $spacing / 2;

  &.align-right {
    justify-content: flex-end;
  }

  &.align-center {
    justify-content: center;
  }
}

.sizer {
  @include flex();

  padding: $spacing / 2;

  &.no-padding {
    padding: 0;
  }

  &.align-right {
    justify-content: flex-end;
  }

  &.align-center {
    justify-content: center;
  }

  &.w-full {
    width: 100%;
  }

  &.w-half {
    width: 50%;
  }

  &.w-quarter {
    width: 25%;
  }

  &.w-12 {
    width: 100%;
  }
  &.w-11 {
    width: 91.666%;
  }
  &.w-10 {
    width: 83.333%;
  }
  &.w-9 {
    width: 75%;
  }
  &.w-8 {
    width: 66.666%;
  }
  &.w-7 {
    width: 58.333%;
  }
  &.w-6 {
    width: 50%;
  }
  &.w-5 {
    width: 41.666%;
  }
  &.w-4 {
    width: 33.333%;
  }
  &.w-3 {
    width: 25%;
  }
  &.w-2 {
    width: 16.666%;
  }
  &.w-1 {
    width: 8.333%;
  }

  @media screen and (min-width: $s) {
    &.sw-full {
      width: 100%;
    }

    &.sw-half {
      width: 50%;
    }

    &.sw-quarter {
      width: 25%;
    }

    &.sw-12 {
      width: 100%;
    }
    &.sw-11 {
      width: 91.666%;
    }
    &.sw-10 {
      width: 83.333%;
    }
    &.sw-9 {
      width: 75%;
    }
    &.sw-8 {
      width: 66.666%;
    }
    &.sw-7 {
      width: 58.333%;
    }
    &.sw-6 {
      width: 50%;
    }
    &.sw-5 {
      width: 41.666%;
    }
    &.sw-4 {
      width: 33.333%;
    }
    &.sw-3 {
      width: 25%;
    }
    &.sw-2 {
      width: 16.666%;
    }
    &.sw-1 {
      width: 8.333%;
    }
  }

  @media screen and (min-width: $m) {
    &.mw-full {
      width: 100%;
    }

    &.mw-half {
      width: 50%;
    }

    &.mw-quarter {
      width: 25%;
    }

    &.mw-12 {
      width: 100%;
    }
    &.mw-11 {
      width: 91.666%;
    }
    &.mw-10 {
      width: 83.333%;
    }
    &.mw-9 {
      width: 75%;
    }
    &.mw-8 {
      width: 66.666%;
    }
    &.mw-7 {
      width: 58.333%;
    }
    &.mw-6 {
      width: 50%;
    }
    &.mw-5 {
      width: 41.666%;
    }
    &.mw-4 {
      width: 33.333%;
    }
    &.mw-3 {
      width: 25%;
    }
    &.mw-2 {
      width: 16.666%;
    }
    &.mw-1 {
      width: 8.333%;
    }
  }

  @media screen and (min-width: $l) {
    &.lw-full {
      width: 100%;
    }

    &.lw-half {
      width: 50%;
    }

    &.lw-quarter {
      width: 25%;
    }

    &.lw-12 {
      width: 100%;
    }
    &.lw-11 {
      width: 91.666%;
    }
    &.lw-10 {
      width: 83.333%;
    }
    &.lw-9 {
      width: 75%;
    }
    &.lw-8 {
      width: 66.666%;
    }
    &.lw-7 {
      width: 58.333%;
    }
    &.lw-6 {
      width: 50%;
    }
    &.lw-5 {
      width: 41.666%;
    }
    &.lw-4 {
      width: 33.333%;
    }
    &.lw-3 {
      width: 25%;
    }
    &.lw-2 {
      width: 16.666%;
    }
    &.lw-1 {
      width: 8.333%;
    }
  }

  @media screen and (min-width: $xl) {
    &.xlw-full {
      width: 100%;
    }

    &.xlw-half {
      width: 50%;
    }

    &.xlw-quarter {
      width: 25%;
    }

    &.xlw-12 {
      width: 100%;
    }
    &.xlw-11 {
      width: 91.666%;
    }
    &.xlw-10 {
      width: 83.333%;
    }
    &.xlw-9 {
      width: 75%;
    }
    &.xlw-8 {
      width: 66.666%;
    }
    &.xlw-7 {
      width: 58.333%;
    }
    &.xlw-6 {
      width: 50%;
    }
    &.xlw-5 {
      width: 41.666%;
    }
    &.xlw-4 {
      width: 33.333%;
    }
    &.xlw-3 {
      width: 25%;
    }
    &.xlw-2 {
      width: 16.666%;
    }
    &.xlw-1 {
      width: 8.333%;
    }
  }
}

.material-icons:hover {
  cursor: pointer;
}

//LINKS
a:link {
  display: block;
  text-decoration: none;
  padding: $spacing * 0.5 0;
  color: inherit;
  border: 1px solid transparent;
  margin-right: 0.5rem;
}

a:hover, a:focus {
  text-decoration: underline;
}

a:active {

}

a:visited {
  color: inherit;
}

//CARDS
.card {
  width: 100%;
  box-shadow: 1px 3px 21px -12px $black;
  background: #fdfdfd;

  //lines and border radius
  &.outline {
    border: 1px solid $lightGrey;
  }

  &.tab {
    border-radius: 0.8rem 0.8rem 0 0;
  }

  &.rounded {
    border-radius: 0.4rem;
  }

  //coloured cards
  &.fill-primary {
    background: $primary;

    header {
      h1, h2, h3, h4 {
        border-bottom: 1px solid $white;
        color: #000000;
      }
    }
  }

  //overflow: hidden;

  //border: 1px solid $lightGrey;

  header {
    h1, h2, h3, h4 {
      border-bottom: 1px solid $primary;
      padding: $spacing;
      margin: 0 $spacing * 0.5;
      color: $secondary;
    }
  }

  .content {
    padding: $spacing * 1.5;
    font-size: 0.8rem;

    h1, h2, h3, h4 {
      margin-bottom: $spacing * 0.5;
    }
  }

  footer {
    padding: $spacing;
  }
}


//LISTS
.list {
  @include flex();
  flex-wrap: wrap;

  padding: 0;
  margin: 0 0 $spacing 0;
  list-style: none;

  li {
    padding: $spacing;
    width: 100%;
  }

  &.small {
    li {
      padding: $spacing * 0.5;
    }
  }
}

.list.with-links {

  li {
    padding: 0;

    a:link {
      display: block;
      padding: $spacing;
      width: 100%;
      height: 100%;
    }

    a:hover {
      background-color: #fafafa;
      color: white;
    }
  }

  &.small {
    li {
      padding: 0;

      a:link {
        padding: $spacing * 0.5;
      }
    }
  }
}


//FORMS, BUTTONS AND INPUTS
.form {
  width: 100%;
}
.button {
  border: 1px solid $lightGrey;
  -webkit-appearance: none;
  padding: $spacing * 1.5 $spacing;
  background-color: transparent;
  color: inherit;
}

input[type="text"], input[type="number"] {
  border: 1px solid $lightGrey;
  -webkit-appearance: none;
  height: 2.5rem;
  padding: 0 $spacing;
  background-color: transparent;
  color: inherit;
  font-family: inherit;
}

input[type="submit"] {
  border: 1px solid $primary;
  -webkit-appearance: none;
  height: 2.5rem;
  padding: 0 $spacing;
  background-color: $primary;
  color: inherit;
  font-family: inherit;
}

.select, .select-multi {
  border: 1px solid $lightGrey;
  height: 2.5rem;
  background-color: transparent;
  color: inherit;

  .selected {
    @include flex();
    align-items: center;
    width: 100%;
    height: 100%;

    padding: 0 $spacing;
  }

  .option-container {
    display: none;
    width: 100%;
    z-index: 100;

    &.show {
      display: block;
    }

    .option {
      background: $white;
      width: 100%;
      padding: $spacing * 0.5 $spacing;

      &.selected {
        background: #fafafa;
      }
    }
  }

}

.select-multi {
  border: none;
}

.input-holder {
  width: 100%;

  input {
    width: 100%;
  }

  select {
    display: none;
  }
}

.input-holder.active {
  .input-icon {
    color: $lightGrey;
  }
}

.input-icon {
  position: absolute;
  right: $spacing * 0.5;
  height: 100%;

  transition: color 0.3s ease-in;
}
