<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kitchen View | Active Orders</title>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="css/style.css" />
    <style>
    </style>
</head>
<body>

<header class="page-header">
    <div class="container">
        <div class="layout-row">
            <div class="sizer w-8">
                <h1 class="page-title">Counter</h1>
            </div>
            <div class="sizer w-4 align-right links">
                <a class="material-icons">home</a>
                <a class="material-icons">local_drink</a>
            </div>
        </div>
    </div>
</header>

<main>
    <div class="container">
        <div class="layout-row">
            <div class="sizer w-4">
                <div class="card outline">
                    <a href="drink-orders">Drinks</a>
                </div>
            </div>
            <div class="sizer w-4">

            </div>
            <div class="sizer w-4">

            </div>
        </div>
    </div>
</main>

<script>


</script>

<script src="js/client.js"></script>
</body>
</html>
