<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>

    <link rel="stylesheet" href="/css/admin-view.css" />
</head>
<body>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1>Restaurant</h1>
        <p>Counter View</p>
    </div>
</div>

<main class="container">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="option-card mb-3 bg-secondary text-white">
                <div class="material-icons">receipt</div>
                <div>Bills</div>
                <a class="link" href="/counter/bills"></a>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="option-card mb-3 bg-warning text-white">
                <div class="material-icons">view_list</div>
                <div>Reports</div>
                <a class="link" href="/counter/reports"></a>
            </div>
        </div>
    </div>
</main>

<script>
function alertNew(el) {
    el.classList.add("flash");
    setTimeout(function() {
        el.classList.remove("flash");
    }, 400);
}

</script>

</body>
</html>
